.custom-color {
  background-color: rgb(192, 201, 248);
}
a {
  text-decoration: none;
  color: black;
}

<<<<<<< HEAD
  a {
      text-decoration: none;
      color: black;
  }


 
  /* CSS for the hover effect */
  a:hover {
    background-color: #070bf8; /* Change background color on hover */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  /* CSS for the hover effect */
.row.mx-2.mb-2 > .col-6:hover .row.border {
  background-color: #070bf8; /* Change background color on hover */
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

=======
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 30px;
  color: #4A148C;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
>>>>>>> 5a84bee46e9b1f9254f69b7502692783d7ba3a65
