.custom-color {
    background-color: rgb(192, 201, 248);
  }
  input.star {
    display: none;
  }
  label.star {
    float: left;
    font-size: 30px;
    cursor: pointer;
  }
  input.star:checked ~ label.star:before {
    content: '\2605';
    color:yellow;
  }

  a {
      text-decoration: none;
      color: black;
  }


 
  /* CSS for the hover effect */
  a:hover {
    background-color: #070bf8; /* Change background color on hover */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  /* CSS for the hover effect */
.row.mx-2.mb-2 > .col-6:hover .row.border {
  background-color: #070bf8; /* Change background color on hover */
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

